html, body {
    background-color: #b8c4ff;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body {
    margin: 50px;
    height: 800px;
    width:  600px;
    background-color: gainsboro;
    border: yellowgreen 5px solid;
}

.view-window {
    height: 150px;
    width: 550px;
    background-color: white;
    margin: 25px;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
}

.calc-input {
    font-size: 6em;
    margin: .1em;
    font-family: andale mono, monospace;
}


div.buttons {
    margin: 25px;
    height: 575px;
    width: 550px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    font-family: optima, sans-serif;
    font-size: 2em;

}

.decimal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    font-family: optima, sans-serif;
    font-size: 2em;
}

.zero {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.equals {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 2;
    background-color: #ff7033;
    font-family: optima, sans-serif;
    font-size: 3em;
    
}

.clear, .all-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #58c4df;
    font-size: 2em;
    font-family: optima, sans-serif;
    color: white;

}

.operator {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3eb00;
    font-size: 2em;
    font-family: optima, sans-serif;
}

.button:hover {
    filter: brightness(85%);
  }