html, body {
    background-color: #b8c4ff;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.calculator-body {
    margin: 50px;
    height: 800px;
    width:  600px;
    background-color: gainsboro;
    border: yellowgreen 5px solid;
}

div.view-window {
    height: 150px;
    width: 550px;
    background-color: white;
    margin: 25px;
}

div.buttons {
    border: solid 1px black;
    margin: 25px;
    height: 575px;
    width: 550px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

div.buttons div {
    border: yellow solid 1px;
    
}
